<link href="//cdn.bootcss.com/codemirror/5.25.0/codemirror.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/codemirror/5.25.0/theme/monokai.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/codemirror/5.25.0/addon/lint/lint.min.css" rel="stylesheet">
<div class="container-fluid">
    <input value="{{challenge.challengeType}}" type="hidden" id="challengeType"/>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div id="scroll-locker" class="scroll-locker" style="min-height: 306px; height: 800px;">
                <div style="width: 99%; min-height: 1000px;" class="innerMarginFix">
                    <div class="row">
                        <div class="col-xs-12"><h4
                            class="text-center challenge-instructions-title">{{challenge.title}}</h4>
                            <hr>
                            <div class="challenge-instructions">
                                {{#each challenge.description}}
                                    <p class="wrappable">{{{this}}}</p>
                                {{/each}}
                                <div class="negative-bottom-margin-30"></div>
                            </div>
                        </div>
                    </div>
                    <div class="button-spacer"></div>
                    <button id="submitButton" class="btn-big btn btn-success btn-block">Run tests
                    </button>
                    <div class="button-spacer"></div>
                    <div class="button-spacer"></div>
                    <div id="testSuite">

                    </div>
                    <br></div>
            </div>
            <div class="button-spacer"></div>
        </div>
        {{#if challenge.challengeType}}
        <div class="col-md-9 col-lg-9">
            <div class="editorScrollDiv">
                <div id="mainEditorPanel">
                    <form class="code">
                        <div class="codeMirrorView">
                            <textarea id="code" autofocus=""  name="code" style="display: none;">{{#each challenge.challengeSeed}}{{this}}&#10;{{/each}}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-5 col-lg-6">
            <div class="editorScrollDiv">
                <div id="mainEditorPanel">
                    <form class="code">
                        <div class="codeMirrorView">
                            <textarea id="code" autofocus=""  name="code" style="display: none;">{{#each challenge.challengeSeed}}{{this}}&#10;{{/each}}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body preview text-center">
                    <iframe frameborder="0" id="preview" class="iphone"></iframe>
                </div>
            </div>
        </div>
        {{/if}}
        
    </div>
</div>

<script id="error" type="text/x-handlebars-template">        
    <div>
        <div class="row">
            <div class="col-xs-2 text-center">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
            <div class="col-xs-10 test-output">
                \{{message}}
            </div>
            <div class="ten-pixel-break"></div>
        </div>
    </div>
</script>

<script src="//cdn.bootcss.com/codemirror/5.25.0/codemirror.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/mode/javascript/javascript.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/mode/css/css.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/edit/matchbrackets.min.js"></script>
<script src="//cdn.bootcss.com/codemirror/5.25.0/addon/lint/lint.min.js"></script>

<script src="/js/challenge.js"></script>
