<div class=" container-fluid banner jumbotron">
    <h2>课程表</h2>
    <p>强烈建议按照学习顺序来学习，不要到处跳跃。</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">立即注册</a></p>
</div>
<hr>
<div class="container">
    <div class="map-wrapper">
    {{#each blocks as |block superBlock|}}
        <div class="map-accordion" id="accordion">
            <h2>
                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="collapsed"
                   href="#collapse{{superBlock}}">
                    <span class="no-link-underline"><i class="glyphicon glyphicon-triangle-right"></i></span>
                    {{superBlock}}
                </a>
            </h2>
            <div id="collapse{{superBlock}}" class="collapse no-transition">
                {{#each block as |subBlock|}}
                    <div id="nested">
                        <h3>
                            <a data-toggle="collapse" data-parent="#nested" aria-expanded="false" href="#nested{{subBlock._id}}"
                               class="subBlock"
                               data-id="{{subBlock._id}}">
                                <span class="no-link-underline"><i
                                    class="glyphicon glyphicon-triangle-right"></i></span>
                                {{subBlock.title}}
                            </a>
                        </h3>
                        <div id="nested{{subBlock._id}}" class="collapse chapterBlock"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
    </div>
</div>
<script id="challenges" type="text/x-handlebars-template">
    \{{#each this}}
    <p>
        <a href="/challenge/\{{_id}}">
            <span class="no-link-underline"><i
                class="glyphicon glyphicon-play-circle"></i></span>
            \{{title}}
        </a>
    </p>
    \{{/each}}
</script>
<script>
    (function () {

        $(document).ready(function () {

            $('.subBlock').click(function () {
                var blockId = $(this).attr('data-id');
                $.ajax('/api/blocks/' + blockId + '/challenges').done(function (data) {
                    var template = Handlebars.compile($('#challenges').html());
                    var html = template(data);
                    $('#nested'+blockId).html(html);
                });
            });


        });

    })();
</script>
